<nav class="col-2">
  <a href="/">
    <i class="fa-brands fa-twitter logo"></i>
  </a>
  <a href="/">
    <i class="fa-solid fa-house"></i>
  </a>
  <a href="/search">
    <i class="fa-solid fa-magnifying-glass"></i>
  </a>
  <a href="/notification">
    <i class="fa-solid fa-bell"></i>
  </a>
  <a href="/message">
    <i class="fa-solid fa-inbox"></i>
  </a>
  <a href="/logout">
    <i class="fa-solid fa-arrow-right-from-bracket"></i>
  </a>
</nav>