<div class="tweetFormContainer">
  <div class="userProfilePic">
    <img src="<%= payload.loggedInUser.profilePic %>" alt="profile picture">
  </div>

  <form class="textareaContainer" id="tweetForm">
    <textarea id="postTweetArea" name="tweet" placeholder="What's happening?"></textarea>
    <div class="btnContainer">
      <button id="submitTweetBtn" type='submit' disabled>Tweet</button>
    </div>
  </form>

</div>