<%- include('layouts/header'); -%>



<img src="<%= payload.loggedInUser.profilePic %>" alt="profile-picture">
<h3>Welcome to Twitter, <%=payload.loggedInUser.username%>.</h3>






<%- include('layouts/footer'); -%>

