<%- include('layouts/login-layout'); -%>

<div class="wrapper">
  <div class="loginContainer">
    <form action="" method="post">
      <fieldset>
        <legend><h1>LOGIN</h1></legend>

          <input type="text" name="login-username" placeholder=" Username" required>
          <input type="password" name="login-password" placeholder=" Password" required>
          <input class='btn btn-primary' type="submit" value="Login">
          <div>
            <a href="/register">Need an account? Sign up here.</a>
          </div>
      
      </fieldset>
    </form>
  </div>
</div>








<%- include('layouts/footer'); -%>
