/* CSS VARIABLES */
:root {
  --main-color: #1FA2F1;
  --btnHover: #d4edff;
  --border-color: #e6ecf0;
  --active-red: rgb(226,34,94);
  --active-green: rgb(132,222,2);
}

/* GLOBALS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  background: transparent;
  border: none;
  color:rgba(0,0,0,0.34)
}

button i,
button span {
  /* disable click event to icon and text */
  pointer-events: none;
  padding: 1px;
}

/* NAVBAR */
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}
nav a {
  padding: 10px;
  font-size: 30px;
  width: 55px;
  height: 55px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: inherit;
}
nav a:hover{
  background-color: var(--btnHover);
  border-radius: 100%;
}
.logo {
  color: var(--main-color);
}

/* USER INPUT SECTION */
.mainSectionContainer {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);

  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.page-title {
  padding:0 15px;
  border-bottom: 1px solid var(--border-color);
}
.page-title h1{
  flex: 1;
}

.tweetFormContainer {
  display: flex;
  padding: 15px;
  border-bottom: 10px solid #e6eaf0;
  flex-shrink: 0;
}
.userProfilePic {
  width: 50px;
  height: 50px;
}
.userProfilePic img {
  width: 100%;
  background-color: #fff;
}
.textareaContainer {
  flex: 1;
  padding-left: 15px;
}
#postTweetArea {
  width: 100%; 
  border: 1px solid var(--border-color);
  border-radius: 10px;
  resize: none;
  font-size: 20px;
  padding: 5px;
}
.btnContainer{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5px;
}
#submitTweetBtn {
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 7px 15px;
  font-size: 16px;
  font-weight: bold;
}
#submitTweetBtn:disabled {
  background-color: #9bd1f9;
}

/* CONTENT SECTION */
.post {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0px 15px;
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
}
.mainContentContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.tweetContentContainer {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.displayName {
  font-weight: bold;
  color: black;
  font-size: 16px;
}
.username,
.date {
  color: rgb(101,119,134);
}
.tweetBody {
  margin: 5px 0;
}
.tweetFooter {
  display: flex;
  align-items: center;
}
.tweetFooter .tweetBtnContainer{
  flex: 1;
  display: flex;
}
.tweetFooter .tweetBtnContainer button {
  padding: 0;
}
.tweetHeader a,
.tweetHeader span {
  padding-right: 5px;
}
.tweetBtnContainer{
  padding:5px;
}
.tweetBtnContainer button:hover {
  background-color: #d4edff;
  color: var(--main-color);
  border-radius: 50%;
}

.tweetBtnContainer.red button.active {
  color: var(--active-red);
}

.tweetBtnContainer.green button.active {
  color: var(--active-green);
}